.top-destinations-container {
    height: 500px;
}

.top-destinations-image-card-container:hover > img {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
}

.top-destinations-slick-prev {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: -15px;
}

.top-destinations-slick-next {
    z-index: 10;
    position: absolute;
    top: 50%;
    right: -15px;
}

.top-destinations-slick-prev,
.top-destinations-slick-next:hover {
    cursor: pointer;
}