.top-destinations-container {
    height: 500px;
}

.top-destinations-row {
    height: 220px !important;
}

.top-destinations-image-card-container:hover > img {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
}

.top-destinations-slick-prev {
    z-index: 10;
    position: absolute;
    top: 47%;
    left: -24px;
}

.top-destinations-slick-next {
    z-index: 10;
    position: absolute;
    top: 47%;
    right: -24px;
}

.top-destinations-slick-prev,
.top-destinations-slick-next:hover {
    cursor: pointer;
}

.ReactModal__Overlay--after-open {
    z-index: 100;
    position: absolute;
}

.all-destinations-modal {
    position: absolute;
    width: auto;
    height: auto;
    top: 15%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    background-color: yellow;
}